<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Meadowlark Travel">
        <title>{{{ title }}}</title>
        <img src ="/img/logo.jpg" alt="Meadowlark Travel Logo">
    </head>
    <body>
        {{{ body }}}
    </body>
</html>